<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297260001298-7va8okro4ifj9kcu4cp531qt1qd93qdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297260001298-7va8okro4ifj9kcu4cp531qt1qd93qdf</string>
	<key>API_KEY</key>
	<string>AIzaSyDRnk_r-HWAZmwgNPYQeqBQ4fbIEXUesvo</string>
	<key>GCM_SENDER_ID</key>
	<string>297260001298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furqan.flutterEcommerceUiKit</string>
	<key>PROJECT_ID</key>
	<string>gr-ecommerce-school-project</string>
	<key>STORAGE_BUCKET</key>
	<string>gr-ecommerce-school-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297260001298:ios:341e4378ff0fabfdd1d0cb</string>
</dict>
</plist>